@import "styles/theme-palette.scss";

#anime {
  min-height: 100vh;

  .columns {
    position: relative;
    top: -150px;
  }

  main {
    padding-left: 20px;
    width: 100%;

    @include themed() {
      color: findColorInvert(t($background));
    }

    .title {
      display: flex;
      align-items: center;
      height: 150px;

      @include themed() {
        color: findColorInvert(t($background));
      }
    }
  }
}