@import '~bulma/sass/utilities/functions';
@import 'styles/mixins';

#profile {
  .navbar-link {
    @include back-contrast(var(--background-er-color));

    &::after {
      border-color: var(--primary-color);
    }
  }

  .navbar-dropdown {
    background-color: var(--background-er-color);
    border-top-color: var(--primary-color);

    .navbar-item {
      color: findColorInvert(var(--background-er-color));

      &:hover {
        @include back-contrast(var(--primary-color));
      }
    }

    .navbar-divider {
      background-color: var(--primary-color);
    }
  }
}
