@import '~bulma/sass/utilities/functions';
@import 'styles/mixins';

#profile {
  .navbar-link {
    background-color: var(--background-er-color);
    color: var(--font-color);

    &::after {
      border-color: var(--primary-color);
    }
  }

  .navbar-dropdown {
    background-color: var(--background-er-color);
    border-top-color: var(--primary-color);

    .navbar-item {
      color: var(--font-color);

      &:hover {
        background-color: var(--primary-color);
        color: var(--font-color__white);
      }
    }

    .navbar-divider {
      background-color: var(--primary-color);
    }
  }
}
