@import '~bulma/sass/utilities/functions';

.menu {
  .navbar-item {
    color: var(--font-color);

    &:hover {
      background-color: var(--background-est-color);
      color: var(--primary-color);
    }

    &:focus {
      background-color: var(--background-est-color);
      color: var(--primary-color);
    }
  }
}
