@import "styles/theme-palette.scss";

.menu {
  .navbar-item {
    @include themed() {
      color: findColorInvert(t($background-er));
    }

    &:hover {
      @include themed() {
        background-color: t($background-est);
        color: t($primary);
      }
    }

    &:focus {
      @include themed() {
        background-color: t($background-est);
        color: t($primary);
      }
    }
  }
}