@import '~bulma/sass/utilities/functions';
@import 'styles/mixins';

.search {
  .select {
    select {
      @include back-contrast(var(--background-est-color));
      border-color: var(--border-color);
  
      option {
        color: findColorInvert(var(--background-est-color));
      }
    }
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: var(--primary-color);
  }

  .dropdown {
    input {
      @include back-contrast(var(--background-est-color));
      border-color: var(--border-color);
  
      &::placeholder {
        color: findColorInvert(var(--background-est-color));
      }
    }

    .dropdown-menu {
      min-width: 100%;

      .dropdown-content {
        background-color: var(--background-est-color);
        border: 1px solid var(--border-color);

        .dropdown-item {
          @include back-contrast(var(--background-est-color));
          color: findColorInvert(var(--background-est-color));
  
          &:hover,
          &:focus {
            @include back-contrast(var(--primary-color));
          }
        }
      }
    }
  }

  .button {
    &.is-loading::after {
      border-bottom-color: findColorInvert(var(--primary-color));
      border-left-color: findColorInvert(var(--primary-color));
    }
  }
}
