@import '~bulma/sass/utilities/functions';
@import 'styles/mixins';

.search {
  .select {
    select {
      background-color: var(--background-est-color);
      border-color: var(--border-color);
      color: var(--font-color);
  
      option {
        color: var(--font-color);
      }
    }
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: var(--primary-color);
  }

  .dropdown {
    input {
      background-color: var(--background-est-color);
      border-color: var(--border-color);
      color: var(--font-color);
  
      &::placeholder {
        color: var(--font-color);
      }
    }

    .dropdown-menu {
      min-width: 100%;

      .dropdown-content {
        background-color: var(--background-est-color);
        border: 1px solid var(--border-color);

        .dropdown-item {
          background-color: var(--background-est-color);
          color: var(--font-color);
  
          &:hover,
          &:focus {
            background-color: var(--primary-color);
            color: var(--font-color);
          }
        }
      }
    }
  }
}
