@import '~bulma/sass/utilities/mixins.sass';

.navbar-item.theme-switch {
  padding: 0;

  &:hover {
    background-color: var(--primary__variant);
    color: var(--on-primary__variant);
  }

  .button {
    background-color: inherit;
    border: 0;
    height: 100%;
    margin: 0;
    padding: 0.75rem 0.5rem;

    &:focus,
    &:hover {
      color: var(--on-primary__variant);
    }
  }
}
