@import 'styles/mixins';

.navbar-item.themeSwitch {
  padding-left: 0.25rem;
  padding-right: 0.25rem;

  .button {
    background-color: var(--background-er-color);
    border: 0;
    color: var(--font-color);

    &:hover {
      background-color: var(--background-er-color);
      color: var(--font-color);
    }

    &:focus {
      background-color: var(--background-er-color);
      color: var(--font-color);
    }
  }
}
