{
    "extends": "stylelint-config-sass-guidelines",
    "rules": {
        "selector-class-pattern": null,
        "selector-max-id": null,
        "max-nesting-depth": null,
        "selector-max-compound-selectors": null
    }
}