#subtitles {
  background-color: var(--surface);
  border-radius: 3px;
  margin-top: 50px;

  td,
  th {
    color: var(--on-surface);
  }

  .fullwidth {
    display: flex;
    justify-content: end;

    > * {
      width: 33%;
    }
  }
}
