/* stylelint-disable selector-no-qualifying-type */
@import '~bulma/sass/utilities/functions';
@import 'styles/mixins';

#tabs {
  li {
    a {
      background-color: var(--surface);
      border-color: var(--on-background);
      color: var(--on-surface);

      &:hover {
        background-color: var(--surface);
        border-color: var(--primary);
        color: var(--primary);
      }
    }

    &.is-active a {
      background-color: var(--primary);
      border-color: var(--on-background);
      color: var(--on-primary);

      &:hover {
        background-color: var(--surface);
        border-color: var(--primary);
        color: var(--primary);
      }
    }
  }
}
