#tabs {
  li {
    a {
      background-color: var(--surface);
      border-color: var(--on-background);
      color: var(--on-surface);

      &:hover {
        background-color: var(--surface);
        border-color: var(--primary);
        color: var(--primary);
      }
    }

    /* stylelint-disable-next-line selector-no-qualifying-type */
    &.is-active a {
      background-color: var(--primary);
      border-color: var(--on-background);
      color: var(--on-primary);

      &:hover {
        background-color: var(--surface);
        border-color: var(--primary);
        color: var(--primary);
      }
    }
  }
}
