@import '~bulma/sass/utilities/functions';

#fansub-view {
  .title {
    color: findColorInvert(var(--background-color));
    display: flex;

    a,
    button {
      margin-left: auto;
    }
  }
}
