@import "bulma/sass/utilities/functions";
@import "bulma/sass/utilities/mixins.sass";

.navbar-item.search {
  display: none;
  @include from($desktop) {
    display: unset;
  }

  .select {
    select {
      background-color: var(--primary);
      border-color: var(--on-primary);
      color: var(--on-primary);
    }
  }

  .select:not(.is-multiple):not(.is-loading):hover::after {
    border-color: var(--on-primary);
  }

  .select:not(.is-multiple):not(.is-loading)::after {
    border-color: var(--on-primary);
  }

  .dropdown {
    input {
      background-color: transparent;
      border-color: var(--on-primary);
      color: var(--on-primary);

      &::placeholder {
        color: var(--on-primary);
      }
    }

    .dropdown-menu {
      width: 100%;

      .dropdown-content {
        background-color: var(--primary);
        border: 1px solid var(--on-primary);

        .dropdown-item {
          background-color: transparent;
          color: var(--on-primary);

          &:hover,
          &:focus {
            background-color: var(--primary__variant);
            color: var(--on-primary__variant);
          }
        }
      }
    }
  }
}
