@import "bulma/sass/utilities/functions";

#fansub-list {
  .title {
    color: var(--on-background);
    display: flex;

    a,
    button {
      margin-left: auto;
    }
  }

  .table {
    background-color: var(--surface);

    td,
    th {
      color: var(--on-surface);
    }
  }
}
