#menu {
  display: flex;
  flex-direction: column;
  height: 100%;
  padding: 2px;

  > * {
    margin-top: 3px;
  }

  a,
  button {
    border-color: var(--on-background);
    height: auto;
    padding: 3px;
  }

  .is-last {
    margin-top: auto;
  }

  .file-cta {
    background-color: var(--primary);
    border-color: var(--on-background);
    padding: 3px;

    .file-icon {
      margin: 2px 0;
    }
  }

  svg {
    color: var(--on-background);
    margin: 2px 0;

    + svg {
      margin-top: 5px;
    }
  }
}
