@import 'styles/variables';

#subtitle-editor {
  display: flex;
  flex-direction: column;
  height: calc(100vh - $navbar-height);
  width: 100vw;

  .dropzone-section {
    margin: auto;

    > div {
      padding: 5px 10px;
      text-align: center;
      color: var(--on-background);
      border-color: var(--on-background);
      border-width: 2px;
      border-radius: 2px;
      border-style: dashed;
    }
  }

  .video-editor-wrapper {
    display: flex;
    height: calc(100vh - $navbar-height - 12.5vh);

    .lines-wrapper {
      background-color: var(--surface);
      display: flex;
      // overflow-y: scroll;
      width: 34%;
    }

    .video-wrapper {
      display: flex;
      width: 66%;
      justify-content: center;
      flex-direction: column;

      * {
        transition: none;
      }
    }
  }

  .waveform-wrapper {
    * {
      transition: none;
    }
  }
}
