@import 'bulma/sass/utilities/functions';

// @mixin back-contrast($color) {
//   background-color: $color;
//   color: findColorInvert($color);
// }

// @function get-linear-gradient($color) {
//   $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%);
//   $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%);

//   @return linear-gradient(to bottom right, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);
// }
