:root {
  // --font-color__white: #fafafa;
  // --font-color__black: #000;
}

[data-theme='light'] {
  --primary: #ffc107;
  --on-primary: #000;
  --primary__variant: #ffa803;
  --on-primary__variant: #000;

  --background: #fff;
  --on-background: #000;
  --surface: #fff;
  --on-surface: #000;
}

[data-theme='dark'] {
  --primary: #005d78;
  --on-primary: #000;
  --primary__variant: #26758c;
  --on-primary__variant: #000;

  --background: #121212;
  --on-background: #fff;
  --surface: #222;
  --on-surface: #fff;
}
