@import "./_variables";
@import "~bulma/sass/utilities/functions";

// Keys
$primary: 'primary';
$secondary: 'secondary';
$background: 'background';
$background-er: 'background-er';
$background-est: 'background-est';
$border-color: 'border-color';
$text-color: 'text-color';

// Palette
$themes: (
  light: (
    primary: #931a25,
    secondary: #5D737E,
    background: #f5f5f5,
    background-er: #fafafa,
    background-est: #ffffff,

    text-color: #272b38,

    border-color: #7a7a7a,
  ),
  dark: (
    primary: #ff9000,
    secondary: #4ECDC4,
    background: #17212d,
    background-er: #233446,
    background-est: #30475e,

    text-color: #d7dadc,

    border-color: #dbdbdb,
  ),
);

// Mixins
@mixin themed() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
      transition: all 0.3s ease-in-out 0s;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

@mixin back-contrast($color-key) {
  @include themed() {
    background-color: t($color-key);
    color: findColorInvert(t($color-key));
  }
}

@function get-linear-gradient($color) {
  $gradient-top-left: darken(saturate(adjust-hue($color, -10deg), 10%), 10%);
  $gradient-bottom-right: lighten(saturate(adjust-hue($color, 10deg), 5%), 5%);

  @return linear-gradient(to bottom right, $gradient-top-left 0%, $color 71%, $gradient-bottom-right 100%);
}