@import "./_variables";
@import "~bulma/sass/utilities/functions";

// Keys
$primary: 'primary';
$background-er: 'background-er';
$background-est: 'background-est';
$border-color: 'border-color';
$text-color: 'text-color';

// Palette
$themes: (
  light: (
    primary: #931a25,
    background-er: #fafafa,
    background-est: #ffffff,

    text-color: #272b38,

    border-color: #dbdbdb,
  ),
  dark: (
    primary: #ff9000,
    background-er: #233446,
    background-est: #30475e,

    text-color: #d7dadc,

    border-color: #dbdbdb,
  ),
);

// Mixins
@mixin themed() {
  @each $theme, $map in $themes {
    .theme-#{$theme} & {
      $theme-map: () !global;
      @each $key, $submap in $map {
        $value: map-get(map-get($themes, $theme), '#{$key}');
        $theme-map: map-merge($theme-map, ($key: $value)) !global;
      }
      @content;
      $theme-map: null !global;
    }
  }
}

@function t($key) {
  @return map-get($theme-map, $key);
}

@mixin back-contrast($color-key) {
  @include themed() {
    background-color: t($color-key);
    color: findColorInvert(t($color-key));
  }
}