@import "styles/theme-palette.scss";

#form {
  @include themed() {
    background-color: t($background);
  }

  label {
    @include themed() {
      color: findColorInvert(t($background));
    }

    input {
      margin-top: 0.5rem;
      @include back-contrast($background-est);

      &::placeholder {
        @include themed() {
          color: findColorInvert(t($background-est));
        }
      }
    }
  }

  // .help {
  //   font-weight: 400;
  // }
}