@import '~bulma/sass/utilities/functions';

#episodes {
  background-color: var(--background-color);
  border-radius: 3px;
  margin-top: 50px;

  td,
  th {
    color: findColorInvert(var(--background-est-color));
  }
}
