@import 'styles/theme-palette.scss';

#episodes {
  border-radius: 3px;
  margin-top: 50px;

  @include themed() {
    background-color: t($background-est);
  }

  td,
  th {
    @include themed() {
      color: findColorInvert(t($background-est));
    }
  }
}
