@import '~bulma/sass/utilities/functions';

#info {
  border: 1px solid var(--primary);
  border-radius: 3px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 20px;
  padding: 20px;

  .details {
    display: flex;
    justify-content: center;
    position: relative;
    top: -37px;

    span {
      background-color: var(--background);
      color: var(--on-background);
      padding: 0 10px;
    }
  }

  ul {
    margin-top: -37px;
    position: relative;

    li {
      min-height: 30px;
    }

    span:first-of-type {
      color: var(--on-background);
      padding-right: 5px;

      + span {
        color: var(--on-background);
      }
    }

    .links {
      align-items: center;
      display: flex;

      a {
        line-height: 0;

        img {
          height: 30px;
          width: 30px;
        }
      }
    }
  }
}
