@import 'styles/theme-palette.scss';

#hero {
  img {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }

  .overlay {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;
  
    div {
      height: 50%;
      position: relative;
      top: 50%;
  
      @include themed() {
        background-image: linear-gradient(to bottom, #f000, t($background));
      }
    }
  }
}
