#hero {
  img {
    height: 400px;
    object-fit: cover;
    width: 100%;
  }

  .overlay {
    bottom: 0;
    position: absolute;
    top: 0;
    width: 100%;

    div {
      background-image: linear-gradient(to bottom, #f000, var(--background));
      height: 50%;
      position: relative;
      top: 50%;
    }
  }
}
