@import 'styles/theme-palette.scss';

.loader-wrapper {
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: calc(100vh - 3.25rem - 9rem - 24px);
  justify-content: center;
  width: 100%;

  .loader {
    height: 80px;
    width: 80px;
    @include themed() {
      border-bottom-color: t($primary);
      border-left-color: t($primary);
    }
  }
}
