.loader-wrapper {
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: calc(100vh - 3.25rem - 9rem - 24px);
  justify-content: center;
  width: 100%;

  .loader {
    border-bottom-color: var(--primary-color);
    border-left-color: var(--primary-color);
    height: 80px;
    width: 80px;
  }
}
