@import '../styles/variables';

.loader-wrapper {
  align-items: center;
  border-radius: 6px;
  display: flex;
  height: calc(100vh - $navbar-height - $footer-top-padding - $footer-bottom-padding - $line-height);
  justify-content: center;
  width: 100%;

  .loader {
    border-bottom-color: var(--primary);
    border-left-color: var(--primary);
    height: 80px;
    width: 80px;
  }
}
