@import "../styles/mixins";

.pagination {
  .pagination-link {
    border-color: var(--on-background);
    border-width: 2px;

    &:not(.is-current) {
      background-color: var(--background);
      color: var(--on-background);
      cursor: pointer;

      &:focus,
      &:hover {
        border-color: var(--primary);
        color: var(--primary);
      }
    }

    &.is-current {
      background-color: var(--primary);
      border-color: var(--primary);
    }
  }
}
