@import 'styles/mixins';

.pagination {
  .pagination-link {
    border-color: var(--border-color);
    border-width: 2px;

    &:not(.is-current) {
      @include back-contrast(var(--background-color));
      color: var(--primary-color);
      cursor: pointer;
    }

    &.is-current {
      background-color: var(--primary-color);
      border-color: var(--primary-color);
    }
  }
}
