/* stylelint-disable selector-max-compound-selectors */
@import '~bulma/sass/utilities/functions';

#anime {
  min-height: 100vh;

  .columns {
    position: relative;
    top: -150px;
  }

  section {
    color: var(--on-background);
    padding-left: 20px;
    width: 100%;

    .title {
      align-items: center;
      display: flex;
      height: 150px;

      .tag {
        background-color: var(--background);
        color: var(--on-background);
        font-size: 2rem;
        height: auto;
        white-space: break-spaces;
      }
    }
  }
}
