@import '~bulma/sass/utilities/functions';

#anime {
  min-height: 100vh;

  .columns {
    position: relative;
    top: -150px;
  }

  section {
    color: var(--font-color);
    padding-left: 20px;
    width: 100%;

    .title {
      align-items: center;
      color: var(--font-color);
      display: flex;
      height: 150px;
    }
  }
}
