@charset "utf-8";

@import-normalize;

@import "~bulma/bulma";

// Global rules
@import "styles/theme-palette.scss";

.button {
  @include back-contrast($primary);

  @include themed() {
    border-color: t($border-color);
  }

  &:hover {
    @include back-contrast($primary);
  }
}
