@charset "utf-8";

@import-normalize;
@import 'styles/variables';
@import '~bulma/bulma';
@import 'styles/palette';
@import 'styles/mixins';

// TODO: A better way of applying a transition to the colors?
* {
  transition: all 0.3s ease-in-out 0s;
}

// Global rules
.button {
  background-color: var(--primary);
  border-color: var(--on-primary);
  color: var(--on-primary);

  &:hover {
    background-color: var(--primary__variant);
    border-color: inherit;
    color: var(--on-primary__variant);
  }
}
