@charset "utf-8";

@import-normalize;
@import 'styles/variables';
@import '~bulma/bulma';
@import 'styles/palette';
@import 'styles/mixins';

// * {
//   transition: all 0.3s ease-in-out 0s;
// }

// Global rules
.button {
  background-color: var(--primary-color);
  border-color: var(--border-color);
  color: var(--font-color__white);

  &:hover {
    background-color: var(--primary-color);
    color: var(--font-color__white);
  }
}
