@import 'styles/theme-palette.scss';

#home {
  .title {
    padding-bottom: 0.5rem;

    @include themed() {
      border-bottom: 3px solid t($text-color);
      color: t($text-color);
    }
  }
}
