@import "styles/theme-palette.scss";

#home {
  .title {
    padding-bottom: .5rem;

    @include themed() {
      color: t($text-color);
      border-bottom: 3px solid t($text-color);
    }
  }
}